button {
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 4px 24px;
  height: $button-height;
  max-width: max-content;

  &.add {
    text-transform: uppercase;
    font-weight: 600;
    background-color: #363F4C;
    color: white;
    letter-spacing: .5px;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

// icon buttons
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;

  &:before {
    content: '';
    background-size: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &:hover {
    transition: background-image, .4s;
  }

  &.thumb-up:before {
    background-image: url('../icons/thumb-up_icon.svg');
  }

  &.thumb-down:before {
    background-image: url('../icons/thumb-down_icon.svg');
  }

  &.remove {
    background-image: url('../icons/garbage_icon.svg');
    background-position: right;
    margin-left: auto;
    position: relative;
    transition: .2s;
    height: 22px;

    &:hover {
      background-image: url('../icons/garbage_icon-hover.svg');

      &:after {
        content: attr(data-text);
        color: $main-font-color;
        font-size: 14px;
        text-align: end;
        position: absolute;
        bottom: 28px;
        right: -4px;
        width: 200px;
      }
    }
  }

  &.close-button {
    background-image: url('../icons/close_icon.svg');
    position: absolute;
    right: 8px;
    background-color: transparent;
    cursor: pointer;
    top: 16px;

    &:hover {
      background-image: url('../icons/close_icon-hover.svg');
    }
  }
}
