.inline_editing {
  border: 4px solid $main-inline-editing-bg-color;
  padding: 16px;
  border-radius: 4px;

  .artificial-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: $main-bg-color;
    padding: 8px;
    height: 48px;
    max-width: 40%;
    border: 1px solid lightgray;
    transition: border, .3s;

    &:focus,
    &:hover {
      border: 2px solid #0b7aff;
      cursor: pointer;
      outline: none;
    }
  }
}