.articles {
  display: grid;
  grid-gap: 1rem;

  //safari
  @media screen and (min-width: 1024px) and (max-height: 1366px) {
    grid-template-columns: repeat(3, 1fr);
  }

  //@media ($desktop) {
  //  grid-template-columns: repeat(3, 1fr);
  //}

  @media ($mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  .article {
    display: flex;
    flex-direction: column;
    background-color: $main-article-bg-color;
    box-shadow: $box-shadow;
    border-radius: .4rem;
    padding: 24px;

   &__title_wrapper {
     position: relative;
     display: flex;
     align-items: end;
     flex-direction: column;
     margin-bottom: 2rem;

     &:after {
       content: attr(data-whatever);
       font-size: 180px;
       height: 149px;
       display: flex;
       font-weight: 900;
       align-content: center;
       align-items: center;
       margin-right: auto;

       background: -webkit-linear-gradient(#eee, #333);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;

       @include gradientBackground();
     }
   }

    &__title {
      color: $main-font-color;
      line-height: 1.8rem;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      left: 0;
  }

    &__content {
      display: flex;
      flex-grow: 1;
      color: $secondary-font-color-gray;

      padding-bottom: 24px;
      border-bottom: 1px solid #f4f4f5;
    }

    .box-likes {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        p {
          margin: 0 $indent_s 0;
        }

        @media ($mobile) {
          flex-direction: row;
        }
      }

      .likes-count {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0 8px;
        width: 32px;
        height: 24px;
      }
    }
  }
}