.reservations {
  //margin: 4rem auto;

  &__single-entry {
    margin: 1rem 0;
  }

  &__remove-btn {
    margin-left: 1rem;
    padding-top: 2px;
    height: 28px;
  }
  &__error {
    color: red;
  }
}

///////////// move it

.single-entry {
  display: flex;
  grid-gap: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.header {
  margin-bottom: 32px;
}

.rw-widget-input {
  box-shadow: none;
}

.rw-widget-picker {
  border: none;
}

.rw-state-focus .rw-widget-picker {
  border: none;
}

.rw-state-focus .rw-widget-picker.rw-widget-input {
  box-shadow: none;
}

.rw-state-focus {
  border: 2px solid rebeccapurple;
}